<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{titulo}}</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Filtrar por Produto</label>
                                <select (ngModelChange)="getProdutoCadastrado($event)" class="form-control border-input" [(ngModel)]="produtoSituacao" placeholder="Produto">
                                        <option [value]="null">Selecionar</option>
                                        <option [value]="0">Todos Produtos (Ativo ou Inativo)</option>
                                        <option *ngFor="let produto of produtoArray" [ngValue]="produto.id" >{{produto.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Filtrar produto por nome</label>
                                <input [(ngModel)]="selected" [typeaheadOptionsInScrollableView]="15" [typeahead]="produtoArray" (typeaheadOnSelect)="typeaheadOnSelect($event)" [minLength]="3" typeaheadOptionField="nome" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Novo Produto</label>
                                <button (click)="abrirFormNovoProduto()" class="form-control btn btn-info btn-fill btn-wd">ADICIONAR NOVO PRODUTO</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" *ngIf="alerta">
                            <div class="alert {{classeMensagem}}" role="alert">
                                {{mensagem}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="_abrirFormNovoProduto">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Código</label>
                                        <input type="text" [(ngModel)]="produtoModel.codigo" name="codigo" class="form-control border-input" placeholder="Código">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Nome</label>
                                        <input type="text" [(ngModel)]="produtoModel.nome" name="nome" class="form-control border-input" placeholder="Nome">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>* Fabricante</label>
                                    <div class="input-group">
                                        <select (ngModelChange)="getFabricanteCadastrado($event)" name="fabricante" class="form-control border-input" [(ngModel)]="fabricanteSituacao" placeholder="Fabricante">
                                                    <option [value]="null">Selecionar</option>
                                                    <option *ngFor="let fabricante of fabricanteArray" [ngValue]="fabricante.fabricante_id" >{{fabricante.nome_fabricante}}</option>
                                            </select>
                                        <span class="input-group-btn">
                                                    <button (click)="abreModalFabricante()" style="font-size: 10px;" class="btn btn-success btn-add" type="button">+</button>
                                                </span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>* Fornecedor</label>
                                    <div class="input-group">
                                        <select (ngModelChange)="getFornecedorCadastrado($event)" name="fornecedor" class="form-control border-input" [(ngModel)]="fornecedorSituacao" placeholder="Fornecedor">
                                                    <option [value]="null">Selecionar</option>
                                                    <option *ngFor="let fornecedor of fornecedorArray" [ngValue]="fornecedor.fornecedor_id" >{{fornecedor.nome_fornecedor}}</option>
                                            </select>
                                        <span class="input-group-btn">
                                            <button (click)="abreModalFornecedor()" style="font-size: 10px;" class="btn btn-success btn-add" type="button">+</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Estoque</label>
                                        <input type="number" [(ngModel)]="produtoModel.estoque" name="estoque" class="form-control border-input" placeholder="Estoque">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Preço de Custo</label>
                                        <input currencyMask [(ngModel)]="produtoModel.preco_custo" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" name="preco_custo" class="form-control border-input" placeholder="Preço de Custo">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Preço de Venda</label>
                                        <input currencyMask [(ngModel)]="produtoModel.preco_venda" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" name="preco_venda" class="form-control border-input" placeholder="Preço de Venda">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Informações Adicionais</label>
                                        <textarea rows="5" [(ngModel)]="produtoModel.informacoes" name="informacoes" class="form-control border-input" placeholder="Informações Adicionais"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label>Data de Atualização</label>
                                            <input type="text" disabled [value]="produtoModel.data_atualizacao | date: 'dd/MM/yyyy'" class="form-control border-input" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label>Data de Cadastro</label>
                                            <input type="text" disabled [value]="produtoModel.data_cadastro | date: 'dd/MM/yyyy'" class="form-control border-input" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button [disabled]="produtoModel.ativo == 1" (click)="cadastrar()" class="btn btn-info btn-fill btn-wd"><i class="fa fa-save fa-1x" aria-hidden="true"> </i> Salvar</button>
                                <button [disabled]="produtoModel.ativo == 1" (click)="limpar()" class="btn btn-danger btn-fill btn-wd"><i class="fa fa-times-circle"></i> Limpar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                    <!-- TABELA DE PRODUTOS -->
                    <div *ngIf="produtoTabela">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Todos Produtos</h4>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Nome</th>
                                                    <th>Fabricante</th>
                                                    <th>Fornecedor</th>
                                                    <th>Ações</th>
                                                    <th>
                                                        <select (ngModelChange)="getProdutoSituacao($event)" class="form-control border-input" [(ngModel)]="produtoSituacao" placeholder="Produto">
                                                                <option value="null">Ativo ou Inativo</option>
                                                                <option value="0">Ativo</option>
                                                                <option value="1">Inativo</option>
                                                            </select>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="produtoArray">
                                                <tr *ngFor="let row of produtoArray">
                                                    <td>{{row.codigo}}</td>
                                                    <td>{{row.nome}}</td>
                                                    <td>{{row.nome_fabricante}}</td>
                                                    <td>{{row.nome_fornecedor}}</td>
                                                    <td>
                                                        <button [disabled]="row.ativo == 1" title="Editar" (click)='getProdutoCadastrado(row.id)' class="btn btn-info btn-fill btn-sm"><i class="fa fa-cogs"> </i></button>
                                                        <button title="Ativar/Desativar" (click)='inativaAtivaProduto(row)' [ngClass]="{'btn-danger': row.ativo == 1, 'btn-success': row.ativo == 0}" class="btn btn-fill btn-sm"><i class="fa fa-check-circle" *ngIf="row.ativo == 0"></i> <i class="fa fa-times-circle" *ngIf="row.ativo == 1"></i></button>
                                                    </td>
                                                    <td *ngIf="row.ativo == 0" style="color: green">Ativo</td>
                                                    <td *ngIf="row.ativo == 1" style="color: red">Inativo</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FABRICANTE -->
<div class="modal fade" id="modalFabricante" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novo Fabricante</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nome do Fabricante</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="fabricanteModel.nome_fabricante" placeholder="Fabricante" name="fabricante" />
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" *ngIf="alertaModal">
                        <div class="alert {{classeMensagem}}" role="alert">
                            {{mensagem}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" (click)="salvarFabricante()" class="btn btn-success">Salvar Fabricante</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- MODAL FORNECEDOR -->
<div class="modal fade" id="modalFornecedor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novo Fornecedor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nome do Fornecedor</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="fornecedorModel.nome_fornecedor" placeholder="Fornecedor" name="fornecedor" />
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" *ngIf="alertaModal">
                        <div class="alert {{classeMensagem}}" role="alert">
                            {{mensagem}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button (click)="salvarFornecedor()" type="button" class="btn btn-success">Salvar Fornecedor</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>