.recibo_input {
    border: none;
    background: white;
    color: black;
    width: 100%;
}

.impressao,
p {
    font-size: 20px !important;
    font-weight: bold !important;
}

.impressao textarea {
    font-size: 20px !important;
    font-weight: bold !important;
}

.table-bordered {
    border: 2px solid black;
}

.impressao table tr,
th {
    border: 2px solid black;
}

.label-impressao {
    font-size: 20px;
}