<div #new id="new">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Vendas</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Selecione um Cliente</label>
                                <select [disabled]="habilitarCampoCliente" (ngModelChange)="getClienteCadastrado($event)" class="form-control border-input" [(ngModel)]="clienteValue" placeholder="Cliente">
                                              <option [value]="null">Selecionar</option>
                                              <option *ngFor="let cliente of clienteArray" [ngValue]="cliente.id" >{{cliente.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Selecione um Produto</label>
                                <select [disabled]="!habilitarCamposProduto" (change)="getProdutoCadastrado($event.target.value)" class="form-control border-input" [(ngModel)]="produtoSituacao" placeholder="Produto">
                                            <option [value]="null">Selecionar</option>
                                            <option *ngFor="let produto of produtoArray" [value]="produto.id" >{{produto.nome}}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Recibo para Impressão</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecione uma Venda</label>
                                <select (ngModelChange)="getRecibo($event)" class="form-control border-input" [(ngModel)]="reciboValue" placeholder="Recibo">
                                                  <option [value]="null">Selecionar</option>
                                                  <option *ngFor="let recibo of reciboArray" [ngValue]="recibo.id" >{{recibo.nome}} - Data da venda: {{recibo.data | date: 'dd/MM/yyyy'}}</option>
                                          </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ALERTA-->
        <div class="col-md-12 col-lg-12" *ngIf="alerta">
            <div class="alert {{classeMensagem}}" role="alert">
                {{mensagem}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div *ngIf="recibo">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>*Descrição da Venda:</label>
                                    <input type="text" name="nome" class="form-control border-input" [(ngModel)]="vendaModel.nome" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de data</label>
                                    <select (ngModelChange)="getTipoData($event)" class="form-control border-input" [(ngModel)]="tipoDataValue" placeholder="Tipo de data">
                                        <option [value]="null">Selecionar</option>
                                        <option *ngFor="let tipoData of tipoData" [ngValue]="tipoData.id" >{{tipoData.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="inputDataRetroativa">
                                <div class="form-group">
                                    <label>Data</label>
                                    <input type="text" [textMask]="{mask: mask}" name="dataVenda" class="form-control border-input" [(ngModel)]="vendaModel.data_retroativa" />
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CLIENTE</label>
                                    <p>{{clienteModel.nome}}</p>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>CÓDIGO</label>
                                    <p>{{clienteModel.id}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>EMAIL</label>
                                    <p>{{clienteModel.email}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ENDEREÇO</label>
                                    <p>{{clienteModel.endereco}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CIDADE</label>
                                    <p>{{clienteModel.cidade}}</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>TELEFONE</label>
                                    <p>{{clienteModel.telefone}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <!-- ARRAY DE PRODUTOS -->
                            <div>
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>NOME</th>
                                                <th>CÓDIGO</th>
                                                <th>VALOR</th>
                                                <th>FABRICANTE</th>
                                                <th>FORNECEDOR</th>
                                                <th>*QUANTIDADE</th>
                                                <th>SUBTOTAL</th>
                                                <th>REMOVER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of vendaArray; let i = index">
                                                <td>{{item.nome_produto}}</td>
                                                <td>{{item.codigo}}</td>
                                                <!-- <input currencyMask [(ngModel)]="produtoModel.preco_custo" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" name="preco_custo" class="form-control border-input" placeholder="Preço de Custo"> -->
                                                <td><input disabled currencyMask [(ngModel)]="item.preco_venda" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control"></td>
                                                <td>{{item.nome_fabricante}}</td>
                                                <td>{{item.nome_fornecedor}}</td>
                                                <td><input min="0" (ngModelChange)="calculaSubtotal($event, i)" type="number" [(ngModel)]="item.quantidade" class="form-control" /></td>
                                                <td><input disabled currencyMask [(ngModel)]="item.valor_subtotal" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control"></td>
                                                <!-- <td><input type="text" (ngModelChange)="calculaPorcentagem($event, i)" [(ngModel)]="descontoPercent" class="form-control" /></td> -->
                                                <td><button (click)="removerProduto($event, i)" class="btn btn-danger btn-fill btn-sm" title="Remover"><i class="fa fa-times-circle"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- FIM DO ARRAY -->


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Informações Adicionais</label>
                                        <textarea rows="5" [(ngModel)]="vendaModel.informacao" name="informacoes" class="form-control border-input" placeholder="Informações Adicionais"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12" *ngIf="habilitaFormaPagamento">
                                    <div class="form-group">
                                        <label>Outras Formas de Pagamento</label>
                                        <textarea rows="5" [(ngModel)]="vendaModel.informacao_forma_pagamento" name="forma_pagamento" class="form-control border-input" placeholder="Formas de pagamento"></textarea>
                                    </div>
                                </div>


                                <div class="col-md-3 pull-right">
                                    <div class="form-group pull-right">
                                        <label>TOTAL:</label>
                                        <input disabled currencyMask [(ngModel)]="vendaModel.valor_total" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Pagamento quitado?</label>
                                        <select (ngModelChange)="getQuitado($event)" class="form-control border-input" [(ngModel)]="quitadoValue" placeholder="Cliente">
                                                    <option [value]="null">Selecionar</option>
                                                    <option *ngFor="let quitado of quitadoArray" [ngValue]="quitado.value" >{{quitado.label}}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Forma de Pagamento</label>
                                        <select (ngModelChange)="getFormaPagamento($event)" class="form-control border-input" [(ngModel)]="formaPagamentoValue" placeholder="Cliente">
                                            <option [value]="null">Selecionar</option>
                                            <option *ngFor="let pagamento of formaPagamentoArray" [ngValue]="pagamento.value" >{{pagamento.label}}</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>Desconto %</label>
                                        <input [disabled]="!btnCalcularPercent" [(ngModel)]="descontoPercent" type="number" class="form-control border-input" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button *ngIf="btnCalcularPercent" (click)="calculaPorcentagem()" class="form-control btn btn-info btn-fill btn-wd">CALCULAR</button>
                                        <button *ngIf="btnRecalcularPercent" (click)="recalculaPorcentagem()" class="form-control btn btn-info btn-fill btn-wd">RECALCULAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="recibo">
                            <div class="col-md-12 text-center" style="margin-top: 30px;">
                                <button *ngIf="btnImprimir" type="button" class="btn btn-primary btn-fill btn-wd" (click)="captureScreen()">IMPRIMIR RECIBO</button>
                                <button *ngIf="btnAdicionaProduto" type="button" class="btn btn-success btn-fill btn-wd" (click)="adicionaProduto()">ADICIONAR PRODUTO</button>
                                <button *ngIf="btnFinalizarVenda" type="button" class="btn btn-primary btn-fill btn-wd" (click)="finalizarVenda()">FINALIZAR VENDA</button>
                                <button type="button" class="btn btn-info btn-fill btn-wd" (click)="novaVenda()">NOVA VENDA</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PRINT -->
                <div *ngIf="print" class="impressao" id="print">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="assets/img/logo.png" />
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-impressao">CLIENTE</label>
                                    <p>{{vendaModel.cli_nome}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-impressao">EMAIL</label>
                                    <p>{{vendaModel.email}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-impressao">ENDEREÇO</label>
                                    <p>{{vendaModel.endereco}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-impressao">CIDADE</label>
                                    <p>{{vendaModel.cidade}}</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-impressao">TELEFONE</label>
                                    <p>{{vendaModel.telefone}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <!-- ARRAY DE PRODUTOS -->
                            <div>
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30%">NOME</th>
                                                <th>CÓDIGO</th>
                                                <th>VALOR</th>
                                                <!-- <th>FABRICANTE</th> -->
                                                <th>FORNECEDOR</th>
                                                <th>QTD</th>
                                                <th>SUBTOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of vendaModel.produtoArray; let i = index">
                                                <td>{{item.nome_produto}}</td>
                                                <td>{{item.codigo}}</td>
                                                <!-- <input currencyMask [(ngModel)]="produtoModel.preco_custo" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" name="preco_custo" class="form-control border-input" placeholder="Preço de Custo"> -->
                                                <td><input class="recibo_input" disabled currencyMask [(ngModel)]="item.preco_venda" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }"></td>
                                                <!-- <td>{{item.nome_fabricante}}</td> -->
                                                <td>{{item.nome_fornecedor}}</td>
                                                <td>
                                                    <p>{{item.quantidade}}</p>
                                                </td>
                                                <td><input class="recibo_input" disabled currencyMask [(ngModel)]="item.valor_subtotal" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- FIM DO ARRAY -->


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-impressao">Informações Adicionais</label>
                                        <textarea disabled rows="3" [(ngModel)]="vendaModel.informacoes" name="informacoes" class="recibo_input form-control border-input"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-impressao">Outras Formas de Pagamento</label>
                                        <textarea disabled rows="3" [(ngModel)]="vendaModel.informacao_forma_pagamento" name="forma_pagamento" class="recibo_input form-control border-input"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12 pull-right">
                                    <div class="form-group">
                                        <label class="label-impressao">Forma de Pagamento</label>
                                        <p>{{formaPagamento}}</p>
                                    </div>
                                </div>


                                <div class="col-md-3 pull-right">
                                    <div class="form-group pull-right">
                                        <label class="label-impressao">TOTAL:</label>
                                        <input disabled currencyMask [(ngModel)]="vendaModel.valor_total" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="recibo_input">
                                    </div>
                                </div>

                                <div class="col-md-4 pull-right">
                                    <div class="form-group pull-right">
                                        <label class="label-impressao">DATA DA VENDA:</label>
                                        <input disabled [value]="vendaModel.venda_data | date: 'dd/MM/yyyy'" class="recibo_input">
                                    </div>
                                </div>

                                <div class="col-md-12 pull-right">
                                    <div class="form-group">
                                        <label class="label-impressao">ASSINATURA:</label>
                                        <p>&nbsp;</p>
                                        <p>-------------------------------------------------</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="print">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary btn-fill btn-wd" (click)="captureScreen()">IMPRIMIR RECIBO</button>
                                <button type="button" class="btn btn-info btn-fill btn-wd" (click)="novaVenda()">NOVA VENDA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>