<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{titulo}}</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Selecione um Cliente</label>
                                <select (ngModelChange)="getClienteCadastrado($event); " class="form-control border-input" [(ngModel)]="clienteValue" placeholder="Cliente">
                                        <option [value]="null">Selecionar</option>
                                        <option [value]="0">Todos Clientes (Ativo ou Inativo)</option>
                                        <option *ngFor="let cliente of clienteArray" [ngValue]="cliente.id" >{{cliente.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Filtrar cliente por nome</label>
                                <input [(ngModel)]="selected" [typeaheadOptionsInScrollableView]="15" [typeahead]="clienteArray" (typeaheadOnSelect)="typeaheadOnSelect($event)" [minLength]="3" typeaheadOptionField="nome" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Novo Cliente</label>
                                <button (click)="abrirFormNovoCliente()" class="form-control btn btn-info btn-fill btn-wd">ADICIONAR NOVO CLIENTE</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" *ngIf="alerta">
                            <div class="alert {{classeMensagem}}" role="alert">
                                {{mensagem}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="_abrirFormNovoCliente">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>* Nome</label>
                                        <input type="text" [(ngModel)]="clienteModel.nome" name="nome" class="form-control border-input" placeholder="Nome">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>* Empresa</label>
                                        <input type="text" [(ngModel)]="clienteModel.empresa" class="form-control border-input" placeholder="Empresa" name="empresa">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" [(ngModel)]="clienteModel.email" name="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telefone</label>
                                        <input type="text" [(ngModel)]="clienteModel.telefone" name="telefone" class="form-control border-input" placeholder="Telefone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" [(ngModel)]="clienteModel.endereco" name="endereco" class="form-control border-input" placeholder="Endereço">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" [(ngModel)]="clienteModel.cidade" name="endereco" class="form-control border-input" placeholder="Endereço">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Informações Adicionais</label>
                                        <textarea rows="5" [(ngModel)]="clienteModel.informacoes" name="informacoes" class="form-control border-input" placeholder="Informações Adicionais"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label>Data de Atualização</label>
                                            <input type="text" disabled [value]="clienteModel.data_atualizacao | date: 'dd/MM/yyyy'" class="form-control border-input" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label>Data de Cadastro</label>
                                            <input type="text" disabled [value]="clienteModel.data_cadastro | date: 'dd/MM/yyyy'" class="form-control border-input" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button [disabled]="clienteModel.ativo == 1" (click)="cadastrar()" class="btn btn-info btn-fill btn-wd"><i class="fa fa-save fa-1x" aria-hidden="true"> </i> Salvar</button>
                                <button [disabled]="clienteModel.ativo == 1" (click)="limpar()" class="btn btn-danger btn-fill btn-wd"><i class="fa fa-times-circle"></i> Limpar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                    <!-- ng -->

                    <!-- TABELA CLIENTES-->
                    <div *ngIf="clienteTabela">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Todos Clientes</h4>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Empresa</th>
                                                    <th>E-mail</th>
                                                    <th>Telefone</th>
                                                    <th>Ações</th>
                                                    <th>
                                                        <select (ngModelChange)="getClienteSituacao($event)" class="form-control border-input" [(ngModel)]="clienteSituacao" placeholder="Cliente">
                                                                <option value="null">Ativo ou Inativo</option>
                                                                <option value="0">Ativo</option>
                                                                <option value="1">Inativo</option>
                                                            </select>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="clienteArray">
                                                <tr *ngFor="let row of clienteArray">
                                                    <td>{{row.nome}}</td>
                                                    <td>{{row.empresa}}</td>
                                                    <td>{{row.email}}</td>
                                                    <td>{{row.telefone}}</td>
                                                    <td>
                                                        <button [disabled]="row.ativo == 1" title="Editar" (click)='getClienteCadastrado(row.id)' class="btn btn-info btn-fill btn-sm"><i class="fa fa-cogs"></i></button>
                                                        <!-- <i [ngClass]="{'fa fa-check-circle': row.ativo == 0, 'fa fa-times-circle': row.ativo == 1}"> </i> -->
                                                        <button title="Ativar/Desativar" (click)='inativaAtivaCliente(row)' [ngClass]="{'btn-danger': row.ativo == 1, 'btn-success': row.ativo == 0}" class="btn btn-fill btn-sm"><i class="fa fa-check-circle" *ngIf="row.ativo == 0"></i> <i class="fa fa-times-circle" *ngIf="row.ativo == 1"></i> </button>
                                                    </td>
                                                    <td *ngIf="row.ativo == 0" style="color: green">Ativo</td>
                                                    <td *ngIf="row.ativo == 1" style="color: red">Inativo</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="clienteTabelaProduto">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Produtos adquiridos pelo cliente</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome do Cliente</th>
                                        <th>Nome do Produto</th>
                                        <th>Quantidade</th>
                                        <th>Valor Total</th>
                                        <th>Quitado?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of clienteTabelaProdutoArray">
                                        <td>{{row.nome_cliente}}</td>
                                        <td>{{row.nome_produto}}</td>
                                        <td>{{row.quantidade}}</td>
                                        <td><input disabled currencyMask [(ngModel)]="row.valor_total" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="recibo_input form-control" style="text-align: left;" /></td>
                                        <td [ngStyle]="{'color':row.quitado === 'Sim' ? 'green' : 'red' }">{{row.quitado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>