<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Financeiro</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: #9A9A9A;">Produtos mais vendidos</p>
                            <p *ngFor="let item of produtoMaisVendido; let i = index">{{i+1}} - {{item.nome_produto}} - Quantidade: {{item.soma}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Filtrar por Cliente</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecione um Cliente</label>
                                <select (ngModelChange)="getVendaPorCliente($event)" class="form-control border-input" [(ngModel)]="clienteValue" placeholder="Cliente">
                                        <option [value]="null">Selecionar</option>
                                        <option *ngFor="let cliente of clienteArray" [ngValue]="cliente.id" >{{cliente.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Filtrar por Data</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>De</label>
                                <input type="date" [(ngModel)]="dataInicial" class="form-control border-input" name="data_inicial" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Até</label>
                                <input type="date" [(ngModel)]="dataFinal" class="form-control border-input" name="data_final" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="display: block;">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button (click)="filtrarData()" class="btn btn-primary btn-fill btn-wd">FILTRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tabelaVendaCliente">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Vendas por Cliente</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Venda</th>
                                    <th>Prod</th>
                                    <th>Qtd</th>
                                    <th>Subtotal</th>
                                    <th>Pagamento</th>
                                    <th>Data</th>
                                    <th>Quitado</th>
                                    <th>Quitar?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tabelaVenda">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nome}}</td>
                                    <td>{{item.nome_produto}}</td>
                                    <td>{{item.quantidade}}</td>
                                    <!-- <input disabled currencyMask [(ngModel)]="item.valor_subtotal" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control"> -->
                                    <td><input disabled currencyMask [(ngModel)]="item.valor_subtotal" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="recibo_input form-control"></td>
                                    <td>{{item.forma_pagamento}}</td>
                                    <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                                    <td [ngStyle]="{'color':item.quitado === 'Sim' ? 'green' : 'red' }">{{item.quitado}}</td>
                                    <td><button *ngIf="item.quitado === 'Não'" title="Quitar Venda" (click)='quitarVenda(item)' class="btn btn-success btn-fill btn-sm"><i class="fa fa-check-circle"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: green;">Total Quitado:</label>
                    <input disabled currencyMask [(ngModel)]="totalLucroQuitado" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: red;">Total Pendente:</label>
                    <input disabled currencyMask [(ngModel)]="totalLucroPendente" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>