<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, desenvolvido por <i class="fa fa-heart heart"></i> <a href="https://www.mamuteweb.com.br">Mamute Web</a>
        </div>
    </div>
</footer>